.desktop {
    position: fixed;
    inset: 0;
    overflow: hidden;
}

.desktop-icons {
    position: absolute;
    top: 24px;
    left: 20px;
    right: 20px;
    bottom: 70px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: flex-start;

    gap: 18px 36px;
}