.desktop{
    position:fixed;
    inset:0;

    width:100vw;
    height:100vh;

    overflow:hidden;
}

.desktop-icons{

    position:absolute;

    top:18px;
    left:18px;
    bottom:58px;

    display:grid;

    grid-auto-flow:column;

    grid-template-rows:repeat(8,110px);

    grid-auto-columns:110px;

    column-gap:10px;
}