.desktop-icon {
    width: 96px;
    height: 96px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    cursor: pointer;
    user-select: none;

    padding: 6px;
}

.desktop-icon:hover {
    background: rgba(255,255,255,.18);
}

.desktop-icon.selected {
    background: rgba(115, 170, 255, .45);
    outline: 1px dotted #000;
}

.desktop-icon-image {
    width: 56px;
    height: 56px;

    image-rendering: pixelated;

    margin-bottom: 6px;
}

.desktop-icon span {
    font-size: 18px;
    text-align: center;
    line-height: 1.1;
    color: #222;
}