.window {
  position: absolute;

  width: 560px;
  min-height: 380px;

  background: #ffe8f3;

  border: 3px solid black;

  box-shadow: 6px 6px 0 black;

  overflow: hidden;

  user-select: none;
}

.window-titlebar {
  height: 34px;

  background: #f6a9cf;

  border-bottom: 3px solid black;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0 8px;

  cursor: grab;

  font-family: "Press Start 2P";

  font-size: 10px;
}

.window-titlebar:active {
  cursor: grabbing;
}

.window-titlebar button {
  width: 24px;

  height: 24px;

  border: 2px solid black;

  background: white;

  cursor: pointer;

  font-weight: bold;
}

.window-content {
  padding: 16px;
}